.dashboardWrapper{
    margin-top: 1px;
}

.sidebar {
    width: 220px;
    height: 100vh;
}
.content {
    overflow: auto;
    
}
.custom-icon {
    height: 30px;
    width: 30px;
    /* font-size: 2em; */
}
.dashboardWrapper .content .col-md-3 {
    border: 2px solid white;
}